*.DS_Store
composer.lock
/node_modules/
/vendor/
/logs/
/reports/


/lib/admin/document-setting-panel/node_modules/
/lib/admin/document-setting-panel/package-lock.json
/lib/admin/document-setting-panel/composer.lock

