*.DS_Store
composer.lock
/node_modules/
/vendor/
/logs/
/reports/
/lib/admin/document-settings-panel/node_modules/
/lib/admin/document-settings-panel/package-lock.json
/lib/admin/document-settings-panel/composer.lock

